<checkout></checkout>
<table class="table table-responsive table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">License Plate</th>
    <th scope="col">Vehicle Type</th>
    <th scope="col">Entry Date</th>
    <th scope="col">Check Out</th>
  </tr>
  </thead>
  <tr *ngFor="let invoice of invoices">
      <td scope="row">{{ invoice.vehicleLicensePlate }}</td>
      <td>{{ invoice.vehicleTypeName }}</td>
      <td>{{ invoice.entryDate | date: 'medium' }}</td>
      <td><button type="button" class="btn btn-danger" (click)="openModal(invoice.vehicleLicensePlate)">Exit</button></td>
  </tr>
</table>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document" [ngStyle]="{'display':display}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Are you sure to check out vehicle wiht license plate <strong>{{licensePlate}}</strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="checkOutClick()">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">No</button>
        </div>
      </div>
    </div>
  </div>