    <div class="form-group">
        <label for="licensePlate">License plate</label>
        <input type="text" (change)="onKeyLicensePlate($event)" value="{{ licensePlate }}" #licensePlate class="form-control" id="licensePlate" aria-describedby="help" placeholder="Enter license plate" required>
        <small id="help" class="form-text text-muted">The license plates that start with A can only enter on Sunday or Monday.</small>
    </div>
    <div class="form-group">
        <label for="cylinderCapacity">Cylinder Capacity</label>
        <input type="number" (change)="onKeyCylinderCapacity($event)" class="form-control" id="cylinderCapacity" #cylinderCapacity aria-describedby="help" placeholder="Enter cylinder capacity" value="{{ cylinderCapacity }}" required>
    </div>
    <div class="form-group">
        <label for="vehicleType">Vehicle Type</label>
        <select class="form-control" id="vehicleType" (change)="changeType($event.target)" value="{{currentVehicleType}}" [disabled]="disabled">
          <option *ngFor="let typeOfVehicle of vehicleTypes" [(value)]="typeOfVehicle.name">{{ typeOfVehicle.name }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="validateData(licensePlate.value, cylinderCapacity.value)">Check In</button>
<br/>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document" [ngStyle]="{'display':display}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>License plate: <strong>{{licensePlate}}</strong></p>
          <p>Cylinder Capacity: <strong>{{cylinderCapacity}}</strong></p>
          <p>Vehicle Type: <strong>{{currentVehicleType}}</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="checkInClick()">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
