<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
      <li class="nav-item">
          <a class="nav-link" routerLink="/checkin" routerLinkActive="active">Check In</a>
        </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/invoices" routerLinkActive="active">Invoices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vehicles" routerLinkActive="active">Vehicles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/history" routerLinkActive="active">History</a>
    </li>
  </ul>
</nav>